<div class="body">
        <div class="container">
            <form action="http://localhost:8080/api/email/sendgmail" method="post">
                <div class="head">
                    <span>Restaura tu contraseña</span>
                </div>
                <div class="inputs">
                    <input type="email" placeholder="Email" name="email">
                </div>
                <button value="submit">Enviar mail</button>
                <span>Te llegara un mail con los pasos a seguir</span>
            </form>
        </div>
</div>