<div class="body">
        <div class="container">
            <form action="http://localhost:8080/api/sessions/login" method="post">
                <div class="head">
                    <span>Log in</span>
                </div>
                <div class="inputs">
                    <input type="email" placeholder="Email" name="email">
                    <input type="password" placeholder="Password" name="password">
                    <label for="seleccionar">Prefieres iniciar tu session con:</label>
                    <select id="seleccionar" name="login_method">
                        <option value="token">Token</option>
                        <option value="session">Session</option>
                    </select>
                </div>
                <button value="submit">Log in</button>
            </form>
        </div>

</div>