<div class="body">
        <div class="container">
            <form action="http://localhost:8080/api/sessions/login" method="post">
                <div class="head">
                    <span>Log in</span>
                </div>
                <div class="inputs">
                    <input type="email" placeholder="Email" name="email">
                    <input type="password" placeholder="Password" name="password">
                </div>
                <button value="submit">Log in</button>
                <a href="http://localhost:8080/api/sessions/passRecovery">Olvide mi contraseña</a>
            </form>
        </div>

</div>