<div class="body">
    <div class="container">
        <div class="head">
            <span>Restaura tu contraseña</span>
        </div>
        <div class="inputs">
            <input type="password" placeholder="Nueva contraseña" id="newPassword">
            <input type="password" placeholder="Confirma tu nueva contraseña" id="newPasswordConfirm">
        </div>
        <button id="updatePasswordBtn">Confirmar</button>
    </div>
</div>
<script src="/js/passwordChange.js"></script>

